<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="de.windwolke.EvernoteMarkdownSync.Git" level="DEBUG" />
  <logger name="de.windwolke.EvernoteMarkdownSync.Evernote" level="info" />
  <logger name="de.windwolke.EvernoteMarkdownSync.Markdown" level="DEBUG" />

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>